html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(13, 13, 13);
    font-family: Helvetica, Arial, sans-serif;
}

#logo {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 264px;
    padding: 0;
    overflow: hidden;
    display: none;
    color: rgb(47, 47, 47);
    font-size: 18px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    z-index: 230;
}

@keyframes clickBlink {
  0%, 100% { opacity: 1; }
  50%      { opacity: 0.25; }
}

#blur {
    opacity: 0;
    position: fixed;
    inset: 0;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    display: none;
    background-color: #1c1c1c63;
    z-index: 5;
    transition: opacity 0.3s ease, -webkit-backdrop-filter 0.3s ease, backdrop-filter 0.3s ease;
}

#blur.visible {
    opacity: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: block;
}

#task-complete {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 80px;
    color: rgb(100, 100, 100);
    font-size: 32px;
    font-weight: bold;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px  2px 0 #fff, 2px  2px 0 #fff;
    background-color: #ffffff00;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#button-link {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 50%;
    left: 50%;
    width: 240px;
    height: 42px;
    margin-bottom: -100px;
    display: none;
    background: #333;
    color: #fff;
    padding: 12px 12px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
    z-index: 7;
    transition: background 0.2s;
}

#button-link:hover {
  background: #444;
}

#go-button {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 120px;
    display: none;
    text-align: center;
    font-size: 86px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 40px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    background: #2e2e2e;
    color: #ffffff;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: 80px;
    transition: transform 0.1s ease, background-color 0.3s ease, color 0.3s ease;
    animation: pulse 1.5s infinite ease-in-out;
}

#go-button:active {
    transform: translate(-50%, -50%) scale(0.95);
}

#go-button:hover {
    background: #ffffff;
    color: #2e2e2e;
    transform: translate(-50%, -50%) scale(0.95);
}

#description {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -40px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 740px;
    height: 140px;
    margin-top: -100px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    line-height: 46px;
    z-index: 6;
    text-align: center;
    border-radius: 40px;
    background-color: #ffffff00;
    justify-content: center;
    align-items: center;
}

#description.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0px);
    display: flex;
}

#jump-button {
    position: fixed;
    bottom: 150px;
    right: 150px;
    width: 280px;
    height: 120px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #ffffffcc, #ddddddcc);
    border: 2px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-weight: bold;
    color: #333;
    text-align: center;
    line-height: 80px;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    transition: transform 0.1s ease;
}

#jump-button:active {
    transform: scale(0.95);
    background: linear-gradient(to bottom right, #eaeaea, #cccccc);
}

#click {
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
    text-align: center;
    z-index: 0;
}

#click-text {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 48px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    animation: clickBlink 2s ease-in-out infinite;
    z-index: 0;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    touch-action: none;
}

#application-splash-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(13, 13, 13);
    z-index: 200;
}

#application-splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 264px;
    overflow: hidden;
}

#progress-bar-container {
    width: 100%;
    height: 2px;
    overflow: hidden;
    background-color: rgb(29, 41, 44);;
}

#progress-bar {
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    width: 0%;
    background-color: rgb(0, 193, 241);
    transition: width 0.2s ease-out;
}

#progress-text {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 8px;
    -webkit-user-select: none;
    user-select: none;
}

#application-splash > div:first-child {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
    margin-bottom: 5px;
    -webkit-user-select: none;
    user-select: none;
}

#start-screen {
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}

#start-screen .button {
  position: relative;
  cursor: pointer;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  background: none;
  overflow: hidden;
}

#start-screen .button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: transform 1s ease, filter 1s ease;
}

#start-bg {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 200px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#start-description {
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: white;
    font-size: 64px;
    text-align: center;
    transform: translateX(-50%);
    width: 95%;
    -webkit-user-select: none;
    user-select: none;
    z-index:1
}

#start-description-small {
    position: absolute;
    bottom: 60px;
    left: 50%;
    color: rgb(194, 194, 194);
    font-size: 18px;
    text-align: center;
    transform: translate(-50%, 50%);
    width: 95%;
    -webkit-user-select: none;
    user-select: none;
    z-index:1;
}

#start-screen .button:hover::before,
#start-screen .button:focus-visible::before {
  filter: grayscale(0%);
  transform: scale(1.1);
}

#start-Default::before { background-image: url("../icons/bg_default.jpg"); }

#joystick {
    position: absolute;
    left: 80px;
    bottom: 80px;
    width: 480px;
    height: 480px;
    background: rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgb(240, 240, 240);
    border-radius: 50%;
    touch-action: none;
    z-index: 1;
}

#joystick-inner {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgb(206, 206, 206);
    border-radius: 50%;
    top: 140px;
    left: 140px;
    pointer-events: auto;
    z-index: 2;
}

#fullscreen-button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10;
}

@keyframes pulse {
    0%   { transform: translate(-50%, -50%) scale(1); }
    50%  { transform: translate(-50%, -50%) scale(1.08); }
    100% { transform: translate(-50%, -50%) scale(1); }
}
/* landscape mode */
@media screen and (max-height: 480px) and (orientation: landscape),
       screen and (max-width: 768px) and (orientation: landscape),
       screen and (max-aspect-ratio: 4/3) and (orientation: landscape) {

    #joystick {
        left: 60px;
        bottom: 40px;
        width: 160px;
        height: 160px;
    }

    #joystick-inner {
        width: 70px;
        height: 70px;
        top: 45px;
        left: 45px;
    }

    #start-screen .button::before {
        transform: scale(1);
    }

    #start-screen .button:hover::before,
    #start-screen .button:focus-visible::before {
        transform: scale(1.1);
    }

    #start-bg {
        bottom: 0px;
        height: 100px;
    }

    #start-description {
        bottom: 40px;
        font-size: 42px;
    }

    #start-description-small {
        width: 100%;
        bottom: 28px;
        font-size: 14px;
    }

    #fullscreen-button {
        bottom: 14px;
        right: 18px;
    }

    #jump-button {
        bottom: 40px;
        right: 40px;
        width: 140px;
        height: 60px;
        font-size: 32px;
        line-height: 40px;
    }

    #task-complete {
        top: 20px;
        left: 50%;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px  1px 0 #fff, 1px  1px 0 #fff;
        width: 450px; /* 600px */
        height: 40px;
        font-size: 16px;
    }
    #go-button {
        width: 140px;
        height: 60px;
        font-size: 42px;
        border-radius: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        line-height: 40px;
    }

    #button-link {
        margin-bottom: -100px;
        font-size: 28px;
    }

    #description {
        margin-top: -60px;
        width: 100%;
        height: 70px;
        font-size: 26px;
        line-height: 28px;
        border-radius: 20px;
    }
}

/* portrait mode */
@media screen and (max-height: 768px) and (orientation: portrait),
       screen and (max-width: 480px) and (orientation: portrait),
       screen and (max-aspect-ratio: 3/4) and (orientation: portrait) {

    #joystick {
        left: 20px;
        bottom: 50px;
        width: 180px;
        height: 180px;
    }

    #joystick-inner {
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
    }

    #start-screen {
        position: absolute;
        inset: 0;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: calc(var(--vh) * 100);
        display: block;
        grid-template-columns: 1fr;
        background-color: rgb(255, 255, 255);
        z-index: 1;
    }

    #start-screen .button {
        position: relative;
        cursor: pointer;
        padding: 0;
        border: 0;
        height: 100%;
        background: none;
        overflow: visible;
    }

    #start-screen .button::before {
        transform: scale(1);
    }

    #start-screen .button:hover::before,
    #start-screen .button:focus-visible::before {
        transform: scale(1.1);
    }

    #start-bg {
        bottom: 0px;
        height: 110px;
    }

    #start-description {
        bottom: 55px;
        font-size: 36px;
    }

    #start-description-small {
        bottom: 35px;
        font-size: 12px;
    }

    #fullscreen-button {
        bottom: 14px;
        right: 18px;
    }

    #task-complete {
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px  1px 0 #fff, 1px  1px 0 #fff;
        top: 20px;
        left: 50%;
        width: 280px;
        height: 50px;
        font-size: 16px;
    }

    #jump-button {
        position: absolute;
        bottom: 110px;
        left: unset;
        right: 30px;
        width: 120px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        font-size: 22px;
        line-height: 20px;
    }

    #go-button {
        width: 140px;
        height: 60px;
        font-size: 42px;
        border-radius: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        line-height: 40px;
    }

    #action-button:active {
        transform: scale(0.95);
        background: linear-gradient(to bottom right, #eaeaea, #cccccc);
    }

    #button-link {
        margin-bottom: -100px;
        font-size: 28px;
    }

    #description {
        margin-top: -80px;
        width: 100%;
        height: 70px;
        font-size: 26px;
        line-height: 28px;
        border-radius: 20px;
    }
}